@model ImageUpload.Web.Models.ManagementModel
@{
    ViewBag.Title = "Yönetim Paneli";
    Layout = "~/Views/Shared/Management/_LayoutLogged.cshtml";
}


<div class="row-fluid sortable">
    <div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> Katýlýmcýlar</h2>
						<div class="box-icon">
							
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
                                  <th>Facebook Id</th>
								  <th>Ýsim</th>
								  <th>Email</th>
								  <th>Telefon</th>
								  <th>Þehir</th>
								  <th>Resim</th>
                                  <th>Aldýðý Oy</th>
							  </tr>
						  </thead>   
						  <tbody>
                        @foreach(var par in Model.ParticipantTable)
                        {
							<tr>
                                <td><a class="center fbidlnk">@par.Participant.FacebookId</a></td>
								<td>@par.Participant.Name</td>
								<td class="center">@par.Participant.Email</td>
								<td class="center">@par.Participant.Telephone</td>
								<td class="center">@par.Participant.City</td>
								<td class="center">
									<a class="btn btn-success zoombtn" href="@par.Participant.Pictures.FirstOrDefault().ImagePath">
										<i class="icon-zoom-in icon-white"></i>  
										Bak                                            
									</a>

                                    <a class="btn btn-danger removebtn" picid="@par.Participant.Pictures.FirstOrDefault().Id">
										<i class="icon-trash icon-white"></i>  
										Kaldýr                                            
									</a>
								</td>
                                <td class="center">@par.TotalVote</td>
							</tr>
                         }
							
						  </tbody>
					  </table>            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->
			
</div><!--/row-->

<script>
    $(document).ready(function () {
        $('.fbidlnk').each(function () {
            $(this).attr('href', 'https://www.facebook.com/' + $(this).text());
            $(this).attr('target', '_blank');
        });

        $('.removebtn').click(function (e) {
            e.preventDefault();
            var request = {imgId : $(this).attr('picId') };
            var op = $(this).closest('tr');
            $.post('@Url.Action("RemoveImage")', request, function (data) {
                if (data.Result == "Done") {
                    $(op).remove();
                }
                else {
                    alert(data.Result);
                }
            }, 'json');
            
        });

        $('.zoombtn').click(function (e) {
            e.preventDefault();
            var targ = $(this).attr('href');
            var picLink = '@Url.Content("~/Uploads/")' + targ;
            $.colorbox({ rel: 'nofollow', transition: "elastic", maxWidth: "95%", maxHeight: "95%", href: picLink });
        });
    });
</script>